$box-shadow: 0px 0px 15px 0px rgba(72,73,121,0.15);
$color-default: #1c1d3e;
$color-dsc: #5f5f5f;
$color-success: #28a745;
$color-bg: #F3F5FF;
// loadding varible 
$load-blue: #2575FC;
$load-green: #05f8a1;
$load-red: #FF512F;
$load-purple: #481ea7;
// icon-slide
$icon-blue:#5d82d1;
$icon-blue1:#40bff5;
$icon-blue2:#238cc8;
$icon-red:#db5442;
// herro 
$hero-primary:#ffb58c; 
// Font
$font-small: 15px;
$font-dsc: 16px;
$font-mx:2rem;
$font-md: 2.8rem;
$font-lg: 3.4rem; 
$font-family-primary: 'Titillium Web', sans-serif;
$font-family-secondary: 'Nunito',sans-serif;


