.Theme {
  &__table {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    box-shadow: $box-shadow;
    width: 250px;
    right: -250px;
    top: 20%;
    padding: 10px 5px;
    transition: 1s all;
    &--active{
      right: 0;
    }
    &-title {
      text-align: center;
      padding-bottom: 2rem;
      h3 {
        font-size: 3rem;
        background: var(--color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: capitalize;
      }
      p {
        font-size: 1.8rem;
        text-transform: capitalize;
        color: $color-default;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      .color {
        cursor: pointer;
        margin: 0 10px;
        width: calc(100%/4);
        height: 60px;
        margin:5px 10px;
        border-radius: 10px;
        // height: 30px;
        &--active{
          box-shadow:0px 0px 15px 0px rgba(72, 73, 121, 1.15);
        }
      }
      #blue {
        background-color: #0e65f1;
      }
      #cyan {
        background: linear-gradient(
          90deg,
          rgb(0, 201, 255) 0%,
          rgb(101, 220, 252) 80%
        );
      }
      #oragne {
        background: linear-gradient(
          90deg,
          rgba(255, 81, 47, 1) 0%,
          rgba(240, 152, 25, 1) 80%
        );
      }
      #pink {
        background: linear-gradient(
          90deg,
          rgb(238, 31, 113) 0%,
          rgb(0, 219, 222) 80%
        );
      }
      #green {
        background: linear-gradient(
          90deg,
          rgba(5, 248, 161, 1) 0%,
          rgba(46, 199, 141, 1) 80%
        );
      }
      #purple {
        background: linear-gradient(
          90deg,
          rgba(72, 30, 167, 1) 0%,
          rgba(244, 77, 133, 1) 80%
        );
      }
    }
    &-link{
      padding-top: 2.3rem;
      @include flexbox(flex,center,center);
    }
    &-icon{
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 100%;
      width: 40px;
      height: 40px;
      @include flexbox(flex,center,center);
      background: var(--color);
      border-radius: 5px 0px 0px 5px;
      .fas{
        font-size: 2.2rem;
        color: #fff;
        animation-name: rotateTheme;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
}
