.feature {
  padding: 3rem 0;
  &__title{
    h4{
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
      font-family: $font-family-primary;
      padding-bottom: 2rem;
      @include reponsive(laptop){
        max-width: 75%;
      }
    }
    &--service{
      h4{
        font-family: $font-family-secondary;
      }
    }
  }
}
